body{
    background-color: rgb(31, 28, 28);
    color:aliceblue;
    margin-left:8%;
    margin-right:8%;
    scroll-behavior: smooth;
}

#msmp img{
    width:30px;
}
#msmp img:hover{
    background-color: rgb(63, 66, 83);}
#msmp{
    display:flex;
    gap: 15px;
    width: 30%;
}

.txt{
    font-size: 1.2em;
    line-height: 1.5;
    font-family: 'Nunito Sans', Inter, sans-serif;
}

.header{
    font-family: Roboto, Verdana, Tahoma;
}

#projects img{
    width: 250px;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 1.4em;
}

#projects img{
    border: 3px solid rgb(63, 66, 83);
    border-radius: 2px;
}

#p1:hover, #p2:hover, #p3:hover, #p4:hover, #e1:hover, #e2:hover{
    background-color: rgb(37, 34, 34);
}

#p1, #p2, #p3, #p4, #e1, #e2{
    padding: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-bottom: 1vh;
}


