body{
    background-color: rgb(15, 15, 15);
    color:aliceblue;
    margin-left:8%;
    margin-right:8%
}

#msmp img{
    width:40px;
}

.txt{
    font-size: 1.2em;
    line-height: 1.5;
    font-family: 'Nunito Sans', Inter, sans-serif;
}

.header{
    font-family: Roboto, Verdana, Tahoma;
}

#projects img{
    width: 250px;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 1.4em;
}

img{
    border: 3px solid rgb(63, 66, 83);
    border-radius: 2px;
}